body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}

.container > nav {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
    box-shadow: 0 3px 2px rgba(128, 128, 128, 0.5);
    z-index: 1;
}

.container > aside {
    grid-row: 2;
    grid-column: 1;
    background-color: white;
    box-shadow: 3px 2px 2px rgba(128, 128, 128, 0.5);
    z-index: 2;
}

.container > main {
    grid-row: 2;
    grid-column: 2;
    background-color: lightgray;
    padding: 20px;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.box {
    background-color: white;
    padding: 1px 30px;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.5);
    margin-bottom: 20px;
    box-sizing: border-box;
}
